:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: #2196F3;
  --alt-color: #ffffff;
  --alt-dark-color: #2F303A;
  --alt-black-color: #000000;
  --section-grey-color: rgba(245, 244, 250, 1);
  --border-portfolio-color: #EEEEEE;
  --hero-alt-background-color: #C4C4C4;
  --icon-grey-color: rgba(175, 177, 184, 1);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.list a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--alt-color);
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

/* second part of the logo */
.studio-word {
  color: var(--alt-black-color);
}

.studio-word-footer {
  color: var(--alt-color);
}

.logo-footer {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms cubic-bezier(0.69, 0, 0.34, 1);
  visibility: 500ms cubic-bezier(0.69, 0, 0.34, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.order-button {
  font-family: inherit;
  color: var(--alt-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}
.order-button:hover, .order-button:focus {
  background-color: #188CE8;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--alt-color);
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.input-modal-form {
  padding-left: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  transition: border-color var(--transition-dur-and-func);
}
.input-modal-form:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.input-modal-form:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.icon-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapper-input {
  position: relative;
  display: block;
}

.textarea-modal-form {
  padding: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  height: 120px;
  transition: border-color var(--transition-dur-and-func);
}
.textarea-modal-form:focus {
  border-color: var(--accent-color);
}
.textarea-modal-form::placeholder {
  font-style: Regular;
  font-size: 12px;
  line-height: 1.16;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.policy-checkbox {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.policy-link-modal {
  color: var(--accent-color);
}

.label-form-name {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-style: Regular;
  font-size: 12px;
  line-height: 1.16;
  display: inline-block;
}
.label-form-name:not(:first-child) {
  margin-top: 10px;
}

.submit-modal-btn {
  margin-top: 30px;
  padding: 10px 52px;
  font-family: inherit;
  color: var(--alt-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}
.submit-modal-btn:hover, .submit-modal-btn:focus {
  background-color: #188CE8;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  fill: var(--alt-color);
  margin-right: 8px;
}
.policy-checkbox:focus + .custom-checkbox {
  box-shadow: 0 0 0 1px var(--alt-dark-color);
}
.policy-checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.policy-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
}

.checkbox-area-label {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-text {
  font-style: Regular;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.icon-custom-checkbox {
  display: none;
}
.policy-checkbox:checked + .custom-checkbox .icon-custom-checkbox {
  display: block;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
    background-color: var(--alt-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 25px;
    border: 0;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    background-color: transparent;
  }
  .mobile-menu__close-icon {
    width: 18px;
    height: 18px;
  }
  .open-mobile-menu-btn {
    border: none;
    background: transparent;
    padding: 0;
    line-height: 0;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
    border: none;
  }
}
.mobile-list__link {
  font-style: Medium;
  font-size: 40px;
  line-height: 1.175;
  color: var(--title-text-color);
}
.mobile-list__link:hover {
  color: var(--accent-color);
}

.item__mail {
  font-style: Medium;
  font-size: 24px;
  line-height: 1.16;
  color: var(--primary-text-color);
}
.item__mail:hover {
  color: var(--accent-color);
}

.item__tel {
  font-style: Medium;
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-item__mail {
  margin-top: 32px;
}

.mobile-menu-contacts {
  margin-top: 302px;
}

.social-list__item {
  display: inline-flex;
  gap: 20px;
  font-style: Medium;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-color);
}
.social-list__item:not(:last-child):after {
  content: "|";
}

.mobile-menu-social-link {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contacts-top {
    display: none;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

.div-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    column-gap: 50px;
    margin-left: 87px;
  }
  .contacts-top {
    display: block;
    margin-left: 118px;
  }
  .top-mail {
    margin-bottom: 10px;
  }
  .mail-icon, .tel-icon {
    margin-right: 8px;
  }
}
.menu-link.current {
  color: var(--accent-color);
}

.menu-link.current:after {
  position: absolute;
  bottom: -35px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: var(--accent-color);
}

.menu-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-dur-and-func);
}
.menu-link:hover, .menu-link:focus {
  color: var(--accent-color);
}
.menu-link .tel-top,
.menu-link .mail-top {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: color var(--transition-dur-and-func);
}
.menu-link .tel-top:hover, .menu-link .tel-top:focus,
.menu-link .mail-top:hover,
.menu-link .mail-top:focus {
  color: var(--accent-color);
}
.menu-link .tel-top:hover,
.menu-link .tel-top:focus {
  color: var(--accent-color);
}
.menu-link .mail-icon,
.menu-link .tel-icon {
  margin-right: 8px;
}
.menu-link .top-mail {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .tel-top,
.mail-top {
    font-size: 14px;
    line-height: 1.14;
  }
  .mail-icon,
.tel-icon {
    margin-right: 8px;
  }
  .site-nav {
    margin-left: 92px;
  }
  .contacts-top {
    display: flex;
    margin-left: auto;
  }
  .top-tel {
    margin-left: 50px;
  }
  .menu-link.current:after {
    bottom: -8px;
  }
}
.page-footer {
  background: var(--alt-dark-color);
  padding-top: 111px;
  padding-bottom: 60px;
}

.adress-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--alt-color);
}

.mail-bottom {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  margin-top: 9px;
  transition: color var(--transition-dur-and-func);
}
.mail-bottom:hover, .mail-bottom:focus {
  color: var(--accent-color);
}

.tel-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.tel-bottom:hover, .tel-bottom:focus {
  color: var(--accent-color);
}

.join-us {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-color);
  margin-bottom: 20px;
}

.social-icon-footer {
  height: 20px;
  width: 20px;
}

.footer-general-div {
  display: flex;
  align-items: baseline;
}

.footer-div-two {
  margin-left: 70px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--alt-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: var(--accent-color);
}

.footer-div-three {
  margin-left: 93px;
  display: flex;
  flex-direction: column;
}

.subscribe {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
}

.footer-label-input {
  display: block;
}

.subscribe-input {
  display: block;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--alt-color);
  padding: 10px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.subscribe-btn {
  display: inline-flex;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--alt-color);
  background: var(--accent-color);
  padding: 10px 28px;
  margin-left: 12px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}

.subscribe-btn:hover {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-send-icon {
  width: 24px;
  height: 24px;
  fill: var(--alt-color);
  margin-left: 10px;
}

.hero {
  background: var(--hero-alt-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-color);
  margin-bottom: 30px;
}

.div-hero {
  width: 700px;
}

.second-section__info-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.second-section__about-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--section-grey-color);
  border-radius: 4px;
}

.second-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.second {
  padding-top: 94px;
}

.second-section {
  display: flex;
  align-items: center;
}

.second-section__about {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.second-section__about-card {
  flex-basis: calc((100% - 90px) / 4);
}

.our-clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}

.client-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
}

.client-list-item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-grey-color);
  transition: fill var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
  border: 1px solid var(--icon-grey-color);
  border-radius: 4px;
}
.client-list-item:hover, .client-list-item:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
}

.service {
  padding-top: 118px;
  padding-bottom: 94px;
}

.services {
  list-style-image: none;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.service-li {
  position: relative;
}

.service-img-text-dec {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.service-section-wrapper {
  position: absolute;
  top: 76%;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--alt-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 10px;
}

.team-place {
  background-color: var(--alt-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-our-team {
  background-color: var(--section-grey-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.team-text-prop {
  padding: 30px 32px 30px 32px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 16px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--alt-color);
  fill: var(--icon-grey-color);
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  height: 20px;
  width: 20px;
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--alt-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}

.project-card-prop {
  padding: 20px 24px;
  border-left: 1px solid var(--border-portfolio-color);
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--alt-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--transition-dur-and-func);
}
.portfolio-link:hover .text-overlay, .portfolio-link:focus .text-overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--alt-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 8;
  color: var(--primary-text-color);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */