.page-footer {
    background: var(--alt-dark-color);
    padding-top: 111px;
    padding-bottom: 60px;
}

.adress-bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--alt-color);
}

.mail-bottom {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    margin-top: 9px;
    transition: color var(--transition-dur-and-func);
   &:hover,
   &:focus {
            color: var(--accent-color);
        }
}

.tel-bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.join-us {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--alt-color);
    margin-bottom: 20px;

}

.social-icon-footer {
    height: 20px;
    width: 20px;

}

.footer-general-div {
    display: flex;
    align-items: baseline;
}

.footer-div-two {
    margin-left: 70px;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;

}

.social-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--alt-color);
    transition: background-color var(--transition-dur-and-func);
&:hover,
&:focus {
    background-color: var(--accent-color);
}}
.footer-div-three {
    margin-left: 93px;
    display: flex;
    flex-direction: column;


}

.subscribe {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--alt-color);
    margin-bottom: 20px;
}

.footer-form {
    display: flex;
}

.footer-label-input {
    display: block;
}

.subscribe-input {
    display: block;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    color: var(--alt-color);
    padding: 10px;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;

}

.subscribe-btn {
    display: inline-flex;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--alt-color);
    background: var(--accent-color);

    padding: 10px 28px;
    margin-left: 12px;

    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition-dur-and-func);
}


.subscribe-btn:hover {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-send-icon {

    width: 24px;
    height: 24px;
    fill: var(--alt-color);
    margin-left: 10px;

}