
.our-clients-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.client-icon {
    width: 106px;
    height: 60px;
}
.client-links {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.client-list-item {
width: 210px;
height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-grey-color);
    transition: fill var(--transition-dur-and-func), border-color var(--transition-dur-and-func);

    border: 1px solid var(--icon-grey-color);
    border-radius: 4px;
    &:hover,
    &:focus {
            fill: var(--accent-color);
            border-color: var(--accent-color);
        }

}

@media screen and (min-width: 768px) {
.client-list-item {
    width: 226px;
}
}





@media screen and (min-width: 1200px)
{

.our-clients-section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.client-list-item { 
    width: 170px;

}


}