
    .section-our-team {
            background-color: var(--section-grey-color);
            padding-top: 60px;
            padding-bottom: 60px;
        }
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
}
.team-text-prop {
   
    padding: 30px 32px 30px 32px;
}
.team-img {
    width: 100%;
}
.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 10px;
}
.team-place {
    
    
    
    background-color: var(--alt-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}
.social-list-icon {
    height: 20px;
    width: 20px;
}
.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
}
.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--alt-color);
    fill: var(--icon-grey-color);
    transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }



}
@media screen and (min-width: 480px) {
.team-place {
    width: calc((100% - 30px) / 1)
}




@media screen and (min-width: 768px) {

.team-place {
        width: calc((100% - 30px) / 2)
    }

}










@media screen and (min-width: 1200px) {
    .section-our-team {
    padding-top: 94px;
    padding-bottom: 94px;
        }
    .social-list-icon {
        .social-list-link:hover &,
         .social-list-link:focus & {
            fill: var(--alt-color);
                    }
                }
        .team-place {
            width: calc((100% - 30px) / 4)
        }
        .our-team {
            flex-wrap: nowrap;
        }

} }




















