.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms cubic-bezier(.69, 0, .34, 1);
    visibility: 500ms cubic-bezier(.69, 0, .34, 1);
    overflow: scroll;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}