.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    margin-right: 93px;
}

/* second part of the logo */
.studio-word {
    color: var(--alt-black-color);
}

.studio-word-footer {
    color: var(--alt-color);
}
.logo-footer {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
