@media screen and (min-width: 480px) {
.modal {
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 450px;
        height: 609px;
        transform: translate(-50%, -50%);
        background-color: var(--alt-color);
}
}

@media screen and (min-width: 1200px) {
.modal {
width: 528px;
height: 581px;
background-color: var(--alt-color);
}
}