
.modal {
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 450px;
        max-height: 609px;
        transform: translate(-50%, -50%);
        background-color: var(--alt-color);
}
@media screen and (min-width: 480px) {
.modal {
width: 450px;
height: 609px;
}
}
