h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.list {
    list-style: none;
}
.list a {
    text-decoration: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--alt-color);
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}